@import url('../../../variables.style.css');

#AddProduct {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../Assets/Images/AgShine.png');
    background-size: cover;
    display: grid;
    place-items: center;

    &::after {
        z-index: 1;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--color-white-opacity);
    }
}

#AddProduct form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background: var(--color-bg-gradient);
    height: 600px;
    width: 500px;
    border-radius: 30px;
}

#AddProduct form h2 {
    color: var(--color-white);
    font-size: 2rem;
}

#AddProduct form > input {
    width: 70%;
    height: 30px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-white);
    color: var(--color-white);


    &::placeholder {
        color: var(--color-white);
    }

    &:focus {
        outline: none;
    }
}

#AddProduct form select {
    color: var(--color-white);
    background-color: transparent;
    font-size: 1.1rem;
    border: none;
    width: 70%;
    text-align: center;
}

#AddProduct form select option {
    color: var(--color-black);
}

#AddProduct form #label-file-add #input-file-add {
    display: none;
}

#AddProduct form .sizes-container, #AddProduct form .colors-container {
    display: flex;
    gap: 20px;
    color: var(--color-white);
}

#AddProduct form .sizes-container .label-size-checkbox, #AddProduct form .colors-container .label-color-checkbox{
    display: flex;
    gap: 5px;
}

#AddProduct form button {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.04rem;
}

#AddProduct form #label-file-add span {
    color: var(--color-white);
}

#AddProduct form .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#AddProduct form .buttons-container .position-input {
    width: 35px;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
}

#AddProduct form .buttons-container label {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#AddProduct form .buttons-container label svg {
    height: 80%;
    width: 100%;
    color: var(--color-white);
}

#AddProduct form .buttons-container label input {
    display: none;
}