@import url('../../../variables.style.css');

#Login {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url('../../../Assets/Images/AgShine.png');
    background-position: center;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: var( --color-white-opacity)
    }
}

#Login form {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background: var(--color-bg-gradient);
}

#Login form img {
    border-radius: 50%;
    height: 120px;
}

#Login form h1 {
    font-size: 2rem;
    color: var(--color-white);
}

#Login form .label-input {
    width: 80%;
    border-bottom: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#Login form .label-input svg {
    width: 15%;
    height: 45%;
    color: var(--color-white);
}

#Login form .label-input span {
    position: absolute;
    left: 50px;
    top: 35%;
    color: var(--color-white);
    font-size: 1rem;
    transition: all .5s;
}

#Login form .label-input span.span-ok {
    top: -5px;
    font-size: .8rem;
}

#Login form .label-input input {
    width: 85%;
    height: 40px;
    border: none;
    color: var(--color-white);
    background-color: transparent;
    padding-left: 5px;
    font-size: 1.2rem;

    &:focus {
        outline: none;
    }

    &:focus + span {
        transition: all .5s;
        top: -5px;
        font-size: .8rem;
    }
}

#Login form .label-input input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0px 1000px var(--color-1) inset;
}  
#Login form .label-input input:-webkit-autofill {
    -webkit-text-fill-color: var(--color-white) !important;
} 

#Login form button {
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.05rem;
}

#Login form button svg {
    height: 100%;
    width: 20px;
}